<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Catho</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="page">
		<div class="page__header"></div>
		<div class="page__content">
			<div class="content__chat">	
				<div class="chat__header">
					<h2 class="header__title"><i>Vaga: Desenvolvedor Front-end</i></h2>
					<a href="#" class="chat__button button--minimize" title="minimizar"></a>
					<a href="#" class="chat__button button--maximize" title="maximizar"></a>
					<a href="#" class="chat__button button--close" title="fechar"></a>
				</div>
				<div class="chat__messages"></div>
				<textarea class="chat__boxMessage" placeholder="Digite aqui sua mensagem..."></textarea>
			</div>
		</div>
		<div class="page__footer"></div>		
	</div>
</body>
<script src="/static/libs/jquery-3.1.0.min.js"></script>
<script src="/static/js/script.js"></script>
</html>